a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

.button-style {
  width: 6rem;
  height: 2rem;
  border: none;
  background-color: gold;
  font-size: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.main-title {
  font-size: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.sub-title-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem;
}

.sub-title {
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
}

.flex {
  display: flex;
}

.flex-box {
  display: flex;
  gap: 5%;
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.form-style {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
  font-size: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

form > input {
  height: 30px;
  width: 600px;
}

.margin {
  margin: 1rem 0;
}

.movie-title {
  font-size: 1.5rem;
}

.font-size-bigger {
  font-size: 1.5rem;
}

.flex-wrap {
  flex-wrap: wrap;
}